
.PBJ {
    display: border-box;
    border:5px solid sandybrown;
    color:peru;
    background-color:rebeccapurple;


}

.lasagna {
    border: 5px solid orangered;
    color:tomato;
    background-color:palegoldenrod;

}

.yellow{
    border: 2px ridge;
    background-color:goldenrod;
    color:lightgoldenrodyellow;

}

.brown{
    border: 2px dashed;
    background-color:rgb(95, 57, 8);
    color:lightgoldenrodyellow;
    
}


.red{
    border: 2px solid;
    background-color:orangered;
    color:lemonchiffon;
    
}

.white {
    border: 2px dotted;
    background-color:orange;
    color:bisque;
}